<app-modal [name]="'artyom'" [size]="3">
    <div class="main mat-1 round shadow-lg">
        <aside class="type-selector">
            <h1>
                New Project
            </h1>
            <nav class="nav">
                <a (click)="navToSingleCam()" [class.active]="selectedView == 'workbenchSingleCam'">Single Cam</a>
                <a (click)="navToDoubleCam()" [class.active]="selectedView == 'workbenchDoubleCam'">Double Cam</a>
                <a (click)="navToMassEdit()"  [class.active]="selectedView == 'workbenchDoubleCams'">Mass Edit</a>
            </nav>
        </aside>
        <div class="options">
            <router-outlet name="projectType"></router-outlet>
        </div>
    </div>
</app-modal>