<app-modal [name]="'artyom'">
    <div class="main mat-1 round shadow-lg">
        <aside class="type-selector">
            <h1>
                New Project
            </h1>
            <nav class="nav">
                <a routerLink="" routerLinkActive="active">Single Cam</a>
                <a routerLink="" routerLinkActive="active">Double Cam</a>
                <a routerLink="" routerLinkActive="active">Mass Edit</a>
            </nav>
        </aside>
        <div class="options">

        </div>
    </div>
</app-modal>