// -------------------- General -------------------- // 

$background-color: #141414;

$primary:#1473E6;
$primary-light: #46A0F5;


$text-1: #FCFCFC;
$text-2: #CBCBCB;
$text-3: #A2A2A0;
$text-4: #70706D;

// -------------------- Border -------------------- // 

$border-color: #4D4D4D;
$border: 1px solid $border-color;

@mixin border-def-radius {
  border-radius: 4px;
}

@mixin circle {
  border-radius: 1000px;
}

// -------------------- Shadows -------------------- // 

$base-shadow-color: #000;

@mixin shadow-xs {
  box-shadow: 0px 0px 6px 0px rgba($color: $base-shadow-color, $alpha: 0.16);
}

@mixin shadow-s {
  box-shadow: 0px 2px 8px 0px rgba($color: $base-shadow-color, $alpha: 0.18);
}

@mixin shadow-m {
  box-shadow: 0px 4px 12px 0px rgba($color: $base-shadow-color, $alpha: 0.24);
}

@mixin shadow-lg {
  box-shadow: 0px 6px 18px 0px rgba($color: $base-shadow-color, $alpha: 0.30);
}

@mixin shadow-xlg {
  box-shadow: 0px 8px 24px 0px rgba($color: $base-shadow-color, $alpha: 0.36);
}

@mixin shadow-xxlg {
  box-shadow: 0px 12px 32px 0px rgba($color: $base-shadow-color, $alpha: 0.40);
}

@mixin shadow-xs-inset {
  box-shadow: 0px 0px 6px 0px rgba($color: $base-shadow-color, $alpha: 0.16) inset;
}

@mixin shadow-s-inset {
  box-shadow: 0px 2px 8px 0px rgba($color: $base-shadow-color, $alpha: 0.18) inset;
}

@mixin shadow-m-inset {
  box-shadow: 0px 4px 12px 0px rgba($color: $base-shadow-color, $alpha: 0.24) inset;
}

@mixin shadow-lg-inset {
  box-shadow: 0px 6px 18px 0px rgba($color: $base-shadow-color, $alpha: 0.30) inset;
}

@mixin shadow-xlg-inset {
  box-shadow: 0px 8px 24px 0px rgba($color: $base-shadow-color, $alpha: 0.36) inset;
}

@mixin shadow-xxlg-inset {
  box-shadow: 0px 12px 32px 0px rgba($color: $base-shadow-color, $alpha: 0.40) inset;
}


// -------------------- Cards -------------------- // 

$material-1: #373737;
$material-2: #323232;
$material-3: #272727;
$material-4: #212121;

$card-padding : 8px;

@mixin card {
  background-color: $material-1;
  @include shadow-m;
  @include border-def-radius;
  padding: $card-padding;
}

// -------------------- Layout -------------------- // 

@mixin row {
  display: flex;
  flex-direction: row;
}

@mixin rowr {
  display: flex;
  flex-direction: row-reverse;
}

@mixin col {
  display: flex;
  flex-direction: column;
}

@mixin colr {
  display: flex;
  flex-direction: column;
}

// -------------------- Utility -------------------- // 

@mixin trans($seconds: 0.2s) {
  transition: all ease $seconds;
}

@mixin transz {
  transition: all ease 0.01s;
}

@mixin grid($width: 220px) {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax($width, 1fr));
}

