@import '_colors.scss';

$material-design-icons-font-directory-path: '~material-design-icons-iconfont/dist/fonts/';

@import '~material-design-icons-iconfont/src/material-design-icons';


:root {
  font-size: 15px;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  color: $text-2;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html,
body {
  background-color: $background-color;
  overflow-x: hidden;
}

// #region custom scrollbar
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $material-4;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: lighten($color: $material-3, $amount: 18%);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: lighten($color: $material-3, $amount: 28%);
}

// #endregion

a {
  text-decoration: none;
  cursor: pointer;
  @include trans(.32s);
}

a:hover {
  color: $primary-light;
  @include trans(.16s);
}

button {
  cursor: pointer;
  font-size: 1em;
}

.material-icons {
  outline: inherit
}

.row {
  @include row;
}

.rowr {
  @include rowr;
}

.col {
  @include col;
}

.colr {
  @include colr;
}

// -------------------- Implementations -------------------- // 

.card {
  @include card;
}

.mat-1 {
  background-color: $material-1;
}

.mat-2 {
  background-color: $material-2;
}

.mat-3 {
  background-color: $material-3;
}

.mat-4 {
  background-color: $material-4;
}

.border-def-radius,
.round {
  @include border-def-radius;
}

.shadow-xs {
  @include shadow-xs
}

.shadow-s {
  @include shadow-s
}

.shadow-m {
  @include shadow-m
}

.shadow-lg {
  @include shadow-lg
}

.shadow-xlg {
  @include shadow-xlg
}

// #region Controls

.entry-invis {
  background-color: transparent;
  border: 0;
  font-size: 1em;
  padding: 6px 8px;
  color: $text-1;
}

// BTN

.btn {
  border: 0;
  padding: 8px 16px;
  @include circle;
  @include trans;
}

.btn.btn-secondary {
  background-color: transparent;
  color: $text-1;
  border: 2px $text-1 solid;
  box-sizing: border-box;
  padding: 6px 14px;
}

.btn.btn-secondary:hover {
  background-color: $text-1;
  color: $material-3;
}


.btn-invis {
  background-color: transparent;
  cursor: pointer;
  padding: 4px;
  color: $text-1;
  @include circle;
  border: 0;
  display: flex;
  justify-items: center;
  align-items: center;
}

.mat-btn {
  border: 0;
  @include border-def-radius;
  background-color: $material-2;
  color: $text-1;
  padding: 4px;
  cursor: pointer;
  @include trans(.3s);

  display: flex;
  align-items: center;
  justify-items: center;
}

.mat-btn:hover {
  @include trans(.16s);
  background-color: lighten($color: $material-2, $amount: 8%);
}

.mat-btn:active {
  @include transz;
  background-color: lighten($color: $material-2, $amount: 16%);
}

.btn-primary {
  background-color: $primary;
  color: $text-1;

  >* {
    color: $text-1;
  }

}

.btn-primary:hover {
  background-color: lighten($color: $primary, $amount: 8%);
}

.btn-primary:active {
  @include transz;
  background-color: lighten($color: $primary, $amount: 16%);
}


// #endregion Controls

// #region Table

$table-padding : 8px;

.tbl {
  border-spacing: 0;

  thead {
    tr {
      background-color: $material-3;

      th {
        padding: $table-padding;
        text-align: left;
      }

      th:first-child{
        padding-left: 16px;
      }

      th:last-child{
        padding-right: 16px;
      }
    }
  }

  tbody {
    tr {
      background-color: $material-1;
      @include trans(.32s);

      td {
        padding: $table-padding;
      }

      td:first-child{
        padding-left: 16px;
      }

      td:last-child{
        padding-right: 16px;
      }
    }
  }
}

.tbl.tbl-striped {
  tbody {
    tr:nth-child(2n - 1) {
      background-color: $material-2;
    }
  }
}

.tbl.tbl-hover {
  tbody {
    tr:hover {
      @include trans(.16s);
      background-color: lighten($color: $material-1, $amount: 6%);
    }
  }
}

.tbl.tbl-hover.tbl.tbl-striped {
  tbody{
    tr:nth-child(2n-1):hover {
      background-color: lighten($color: $material-1, $amount: 6%);
    }
  }
}

.tbl.round {
  overflow: hidden;
  @include border-def-radius;
}


// #endregion Table