@import '/src/styles/colors';

.radio{
    @include row;
    align-items: center;
    justify-items: flex-start;

    .text {
        margin-left: 8px;
        cursor: pointer;
        color: $text-2;
        @include trans;
    }

    input:focus + .text{
        color: $text-1;
    }
    
    $checkbox-size: 24px;
    input{
        appearance: none;
        width: $checkbox-size;
        height: $checkbox-size;
        background-color: transparent;
        border: 2px solid $border-color;
        @include circle;
        @include trans;
        @include col;
        cursor: pointer;
    }

    input:focus{
        border-color: $primary;
    }
    
    input:checked{
        border-color: $primary;
        background-color: $primary;
    }
    
    input:checked::after{
        content: "";
        position: relative;
        display: block;
        width: 8px;
        height: 8px;
        margin: auto;
        @include circle;
        @include trans;
        background-color: $text-1;
    }
    
}