<div class="workbench">
    <div class="main">
        <div class="left">
            <div class="project-info">
                
            </div>
            <div class="layers">
    
            </div>
        </div>
        <div class="scene">
            <div class="tools">
                
            </div>
            <div class="picture">
                
            </div>
            
        </div>
        <div class="right">
    
        </div>    
    </div>
    <div class="ribbon">

    </div>
</div>