@import '/src/styles/colors';

$ribbon-height: 20px;

.workbench {
  height: 100vh;
  @include row;
  flex: auto;
  overflow-y: hidden;

  .left {
    background-color: $material-3;
    width: 256px;
    @include col;

    .project-info {
      position: relative;

      background-color: $material-1;
      padding: $card-padding;
      @include shadow-lg
    }

    .layers {
      flex: auto;
      height: auto;
      overflow-y: auto;
    }

  }

  .scene {
    flex: auto;
    width: auto;
    padding: 50px;
    position: relative;

    .tools {
      position: absolute;
      top: 16px;
      left: 16px;
      @include row;
      gap: 12px;
      z-index: 10;
    }

    .picture {
      position: relative;
      height: 100%;
      @include col;
      justify-content: center;
      align-items: center;

      .mainImage {
        max-width: 900px;
        width: 100%;
        @include shadow-xxlg;
        border: 1px $material-2 solid;
        pointer-events: none;
        -webkit-user-drag: none;
        user-select: none;
      }
    }


  }

  .right {
    background-color: $material-3;
    width: 300px;
    padding: $card-padding * 2;
    gap: 12px;

    hr.divider {
      border: 0;
      border-top: $border;
      margin: #{$card-padding} #{$card-padding * -2};
    }

  }

}
