@import '/src/styles/colors';

$cropper-color:transparentize(rgb(190, 29, 118), 0.25);

.cropper {
  position: absolute;
  min-width: 50px;
  min-height: 50px;
  border: 2px solid $cropper-color;
  background-color: transparentize($color: $cropper-color, $amount: 0.5);
  resize: both;
  z-index: 80;
  @include col;

  .cropper-info {
    position: absolute;
    background-color: $cropper-color;
    font-size: 0.64em;
    margin-right: auto;
    color: $text-2;
    top: -15px;
    left: -2px;
    padding: 1px 4px;
    user-select: none;
  }

  $handlebar-thickness: 10px;

  .corner {
    width: $handlebar-thickness * 2;
    height: $handlebar-thickness * 2;
    position: absolute;
    z-index: 10;
  }

  .handlebar {
    min-width: $handlebar-thickness;
    min-height: $handlebar-thickness;
    position: absolute;
    z-index: 9;
  }

  .center {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    cursor: move;
    background-color: transparent;
  }

}
