<div #cropper class="cropper" draggable="false">
    <div class="cropper-info" (mousedown)="centerDown()" style="cursor: move;">
        <span>{{ cropperWidth }} X {{ cropperHeight }}</span>
    </div>
    <div class="handlebars-grid">
        <div class="corner" style="top: -5px; left: -5px; cursor: nw-resize;" (mousedown)="tlDown()"></div>
        <div class="handlebar" style="left: -5px; right: -5px; top: -5px; cursor: n-resize;" (mousedown)="topDown()">
        </div>
        <div class="corner" style="top: -5px; right: -5px; cursor: ne-resize;" (mousedown)="trDown()"></div>
        <div class="handlebar" style="top: -5px; bottom: -5px; right: -5px; cursor: e-resize;"
            (mousedown)="rightDown()"></div>
        <div class="" (mousedown)="centerDown()"></div>
        <div class="handlebar" style="left: -5px; right: -5px; bottom: -5px; cursor: s-resize;"
            (mousedown)="bottomDown()"></div>
        <div class="corner" style="bottom: -5px; right: -5px; cursor: se-resize" (mousedown)="brDown()"></div>
        <div class="handlebar" style="top: -5px; bottom: -5px; left: -5px; cursor: w-resize;" (mousedown)="leftDown()">
        </div>
        <div class="corner" style="bottom: -5px; left: -5px; cursor: sw-resize" (mousedown)="blDown()"></div>
    </div>
</div>