<div class="m">
    <header class="m-header">
        <button class="mat-btn btn-primary shadow-lg" (click)="addProjectClick()">
            <i class="material-icons">add</i>
        </button>
        <button style="margin-left: auto;" class="mat-btn btn-default shadow-lg" (click)="viewStyleClick()">
            <i *ngIf="viewService.isGridView" class="material-icons">view_list</i>
            <i *ngIf="!viewService.isGridView" class="material-icons">grid_view</i>
        </button>
        <div class="mat-1 row border-def-radius shadow-lg">
            <input type="text" class="entry-invis" placeholder="Search..." #txtSearch>
            <button class="btn-invis">
                <i class="material-icons">search</i>
            </button>
        </div>
    </header>
    <aside class="m-aside">
        <nav class="navigation">
            <a routerLink="Recent" routerLinkActive="active">Recent</a>
            <a routerLink="Bookmarks" routerLinkActive="active">Bookmarks</a>
            <a routerLink="All" routerLinkActive="active">All</a>
            <a routerLink="Components" routerLinkActive="active">Components</a>
        </nav>
    </aside>
    <main class="m-content">
        <router-outlet></router-outlet>
    </main>
</div>

<app-add-project-modal></app-add-project-modal>