<div class="card col">
  <div>
    <div style="margin: 16px;">
      <button class="btn btn-primary" (click)="readfs()">Filesystem</button>
      <button class="btn btn-secondary">Create</button>
    </div>

    <dial [size]="100" [(value)]="dialValue"></dial>
    <textbox placeholder="Dial Value" icon="dial" [(value)]="dialValue"></textbox>
    
    <div style="margin: 16px;">
      <checkbox [checked]="true">This is a Checkbox</checkbox>
    </div>

    <div style="margin: 16px;">
      <radio name="hello">Male</radio>
      <radio name="hello">Female</radio>
    </div>

    <div style="margin: 16px;">
      <textbox #tse label="Textbox With Icon" placeholder="placeholder..." icon="calendar_today"></textbox>
      <br style="margin-top: 8px;">
      <textbox placeholder="placeholder..." icon="calendar_today"></textbox>
    </div>

    <div style="margin: 16px;">
      <textline label="Textbox With Icon" placeholder="placeholder..." icon="calendar_today"></textline>
      <br style="margin-top: 8px;">
      <textline placeholder="placeholder..." icon="calendar_today"></textline>
    </div>

  </div>
</div>
