<div class="block">
    <div class="thumbnail">
        <img src="assets/img/Book.png" alt="">
        <button like class="btn-invis material-icons" (click)="toggleFavouriteClick()"
            [class.active]="model.isFavourite">star</button>
        <div class="deets">
            <div class="container">
                <label class="page-count">16 Pages</label>
            </div>
        </div>
    </div>
    <div class="info">
        <h3 class="title">Title</h3>
        <label class="date-created">Yesterday</label>
    </div>
</div>