@import "/src/styles/colors";

.combo {
  @include col;

  .label {
    color: $text-3;
    font-size: 0.92em;
    margin-bottom: 6px;
    margin-right: auto;
    text-align: left;
  }

  .container {
    @include row;
    @include border-def-radius;
    border: $border;
    background-color: #2a2a2a;
    @include trans;
    transition-property: $border-color;

    input {
      background-color: transparent;
      border: 0;
      padding: 6px 8px;
      flex: auto;
      font-size: 1em;
    }
    
    .icon {
      @include col;
      align-items: center;
      justify-items: center;
      border: 0;
      background-color: transparent;

      i {
        padding: 6px;
        // Remove padding between the icon and the input. the inputs padding-right is enough
        padding-left: 0;
        font-size: 20px;
        margin: auto;
        color: #828282;
      }
    }
  }

  .container:focus-within {
    border-color: $primary-light;
  }
}

.textbox.error .container{
  border-color: $danger;
}
