@import "/src/styles/colors";

.dial {
  position: relative;
  display: flex;
  place-items: center;
  place-content: center;
  cursor: ew-resize;

  .dial-vector {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: visible;
  }

  .dial-progress {
    transition-timing-function: ease-in-out;
    stroke: $primary;
    stroke-linecap: round;
    fill: transparent;
    transform-origin: center;
    transform: rotate(-90deg);
  }

  .dial-background {
    stroke: transparentize($primary-light, 0.72); 
    fill: transparent;
  }
}

.dial-content {
  @include col;
  text-align: center;
  user-select: none;

  > * {
    margin-left: auto;
    margin-right: auto;
  }
  
  * {
    user-select: none;
  }

}

.dial-handle {
  fill: darken($color: $primary, $amount: 6%);
  user-select: none;
  transform-origin: center;
}
