@import "/src/styles/colors";

.dial {
  position: relative;
  display: flex;
  place-items: center;
  place-content: center;

  .dial-vector {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }

  .dial-progress {
    @include trans(0.7s);
    transition-timing-function: ease-in-out;
    stroke: $primary;
    stroke-linecap: round;
    fill: transparent;
    transform-origin: center;
    transform: rotate(-90deg);
  }

  .dial-background {
    stroke: transparentize($primary-light, 0.72);
    fill: transparent;
  }
}

.dial-content {
  @include col;
  text-align: center;

  > * {
    margin-left: auto;
    margin-right: auto;
  }
  
}
